* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #232323;
    color: white;
    /*padding-bottom: 500px;*/
}

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    color: #f8f8f8;
}

.container-wide {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

/*.none {*/
/*    display: none;*/
/*}*/